In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('Book1.xlsx')
df.head()

,House Age (years),Distance to Station (meters),Price per Square Foot,Unnamed: 3,Sum
0,32.0,84.87882,75.8,NaN,Mean
1,19.5,306.59470,84.4,NaN,Median
2,13.3,561.98450,94.6,NaN,Mode
3,13.3,561.98450,109.6,NaN,St. Deviation
4,5.0,390.56840,86.2,NaN,Variance

In [13]:
df1 = pd.read_csv(r'C:\Users\lerin\Downloads\Data\locations.csv')
df1.head()

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False

In [17]:
df2= pd.read_csv(r'C:\Users\lerin\Downloads\Data\taxonomy.csv')
df2.head()

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

In [18]:
type(df2)

pandas.core.frame.DataFrame

In [22]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\taxonomy.csv', header = None)

             0                             1       2                     3
0          101                     Emergency     NaN                   NaN
1       101-01             Disaster Response     101             Emergency
2       101-02                Emergency Cash     101             Emergency
3    101-02-01             Help Pay for Food  101-02        Emergency Cash
4    101-02-02       Help Pay for Healthcare  101-02        Emergency Cash
..         ...                           ...     ...                   ...
285  111-01-07              Workplace Rights  111-01  Advocacy & Legal Aid
286     111-02                     Mediation     111                 Legal
287     111-03                        Notary     111                 Legal
288     111-04                Representation     111                 Legal
289     111-05  Translation & Interpretation     111                 Legal

[290 rows x 4 columns]

In [23]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\taxonomy.csv',names=['serial no.','status','digit','sfds'])

    serial no.                        status   digit                  sfds
0          101                     Emergency     NaN                   NaN
1       101-01             Disaster Response     101             Emergency
2       101-02                Emergency Cash     101             Emergency
3    101-02-01             Help Pay for Food  101-02        Emergency Cash
4    101-02-02       Help Pay for Healthcare  101-02        Emergency Cash
..         ...                           ...     ...                   ...
285  111-01-07              Workplace Rights  111-01  Advocacy & Legal Aid
286     111-02                     Mediation     111                 Legal
287     111-03                        Notary     111                 Legal
288     111-04                Representation     111                 Legal
289     111-05  Translation & Interpretation     111                 Legal

[290 rows x 4 columns]

In [24]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\taxonomy.csv',names=['serial no.','status','digit','sfds','sgsdg','agdg'])

,serial no.,status,digit,sfds,sgsdg,agdg
0,101,Emergency,NaN,NaN,NaN,NaN
1,101-01,Disaster Response,101,Emergency,NaN,NaN
2,101-02,Emergency Cash,101,Emergency,NaN,NaN
3,101-02-01,Help Pay for Food,101-02,Emergency Cash,NaN,NaN
4,101-02-02,Help Pay for Healthcare,101-02,Emergency Cash,NaN,NaN
...,...,...,...,...,...,...
285,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid,NaN,NaN
286,111-02,Mediation,111,Legal,NaN,NaN
287,111-03,Notary,111,Legal,NaN,NaN
288,111-04,Representation,111,Legal,NaN,NaN
289,111-05,Translation & Interpretation,111,Legal,NaN,NaN

In [25]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\taxonomy.csv',names=['serial no.','status'])

                                       serial no.                status
101       Emergency                           NaN                   NaN
101-01    Disaster Response                   101             Emergency
101-02    Emergency Cash                      101             Emergency
101-02-01 Help Pay for Food                101-02        Emergency Cash
101-02-02 Help Pay for Healthcare          101-02        Emergency Cash
...                                           ...                   ...
111-01-07 Workplace Rights                 111-01  Advocacy & Legal Aid
111-02    Mediation                           111                 Legal
111-03    Notary                              111                 Legal
111-04    Representation                      111                 Legal
111-05    Translation & Interpretation        111                 Legal

[290 rows x 2 columns]

In [27]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\taxonomy.csv')

                                       101@Emergency@@
0               101-01@Disaster Response@101@Emergency
1                  101-02@Emergency Cash@101@Emergency
2    101-02-01@Help Pay for Food@101-02@Emergency Cash
3    101-02-02@Help Pay for Healthcare@101-02@Emerg...
4    101-02-03@Help Pay for Housing@101-02@Emergenc...
..                                                 ...
284  111-01-07@Workplace Rights@111-01@Advocacy & L...
285                         111-02@Mediation@111@Legal
286                            111-03@Notary@111@Legal
287                    111-04@Representation@111@Legal
288      111-05@Translation & Interpretation@111@Legal

[289 rows x 1 columns]

In [28]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\taxonomy.csv', sep='@')

           101                     Emergency Unnamed: 2            Unnamed: 3
0       101-01             Disaster Response        101             Emergency
1       101-02                Emergency Cash        101             Emergency
2    101-02-01             Help Pay for Food     101-02        Emergency Cash
3    101-02-02       Help Pay for Healthcare     101-02        Emergency Cash
4    101-02-03          Help Pay for Housing     101-02        Emergency Cash
..         ...                           ...        ...                   ...
284  111-01-07              Workplace Rights     111-01  Advocacy & Legal Aid
285     111-02                     Mediation        111                 Legal
286     111-03                        Notary        111                 Legal
287     111-04                Representation        111                 Legal
288     111-05  Translation & Interpretation        111                 Legal

[289 rows x 4 columns]

In [34]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\locations.csv')

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180590,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [36]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\locations.csv', sep='|')

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,disabled_parking| ramp| restroom| wheelchair,NaN,NaN,A walk-in center for older adults that provide...,NaN,Spanish| Tagalog,37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,Chinese (Mandarin)| Tagalog| Italian| Spanish,37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,SAMTRANS stops within 1 block| CALTRAIN stops ...,NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,Chinese (Cantonese)| Chinese (Mandarin)| Tagal...,37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,SAMTRANS stops within 1 block| CALTRAIN stops ...,NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,Hindi| Spanish,37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,disabled_parking| wheelchair,NaN,NaN,A multipurpose center offering a wide variety ...,NaN,Tagalog| Spanish,37.448020,-122.180590,Little House,A multipurpose senior citizens' center.,SAMTRANS stops within 3 blocks| RediWheels and...,NaN,False
6,7,2,ramp| restroom| disabled_parking| wheelchair,NaN,NaN,Rosener House is a day center for older adults...,NaN,Spanish| Tagalog| Vietnamese,37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,ramp| restroom| wheelchair,NaN,NaN,Provides general reading material| including b...,NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,elevator| tape_braille| ramp| restroom| disabl...,NaN,NaN,Provides general reading and media materials| ...,NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,Provides general reading materials| including ...,NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,disabled_parking| elevator| ramp| restroom,ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,Provides general reading materials| including ...,NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,Provides food| clothing| bus tokens and shelte...,NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,MUNI - 26 Valencia| Mission Street lines.,NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,Provides emergency food| clothing and furnitur...,NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,SAMTRANS stops within 1 block| BART stops with...,NaN,False
17,18,5,cd| restroom| wheelchair,NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,elevator| ramp| wheelchair,NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,elevator| restroom,NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,disabled_parking| restroom| wheelchair,foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,Cantonese| Russian| Spanish| Tagalog| Taiwanese,37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [40]:
pd.read_csv(r'C:\Users\lerin\Downloads\Data\contacts.csv', skiprows=[1,5])

,id,location_id,organization_id,service_id,name,title,email,department
0,2,1,NaN,NaN,Christina Gonzalez,Center Director,NaN,NaN
1,3,2,NaN,NaN,Brenda Brown,"Director, Second Career Services",NaN,NaN
2,4,3,NaN,NaN,"Howard Lader, LCSW","Manager, Senior Peer Counseling",NaN,NaN
3,6,5,NaN,NaN,Joe Bloom,Financial Empowerment Programs Program Director,NaN,NaN
4,7,6,NaN,NaN,Peter Olson,Little House Director,NaN,NaN
5,8,6,NaN,NaN,Bart Charlow,"Executive Director, Peninsula Volunteers",NaN,NaN
6,9,7,NaN,NaN,Bart Charlow,"Executive Director, Peninsula Volunteers",NaN,NaN

In [47]:
df4 = pd.read_csv(r'C:\Users\lerin\Downloads\Data\services.csv')
df4.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [49]:
df4.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [52]:
df4.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [53]:
df4.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [56]:
a = df4['funding_sources']

In [57]:
type(a)

pandas.core.series.Series

In [59]:
df4[['name','funding_sources']]

,name,funding_sources
0,Fair Oaks Adult Activity Center,"City, County, Donations, Fees, Fundraising"
1,Second Career Employment Program,"County, Federal, State"
2,Senior Peer Counseling,"County, Donations, Grants"
3,Family Visitation Center,"County, Donations, Grants"
4,Economic Self-Sufficiency Program,"County, Grants, State"
5,Little House Recreational Activities,"Fees, Fundraising, Grants, Dues"
6,Rosener House Adult Day Services,"Donations, Fees, Grants"
7,Meals on Wheels - South County,"County, Donations"
8,Fair Oaks Branch,"City, County"
9,Main Library,City
10,Schaberg Branch,City
11,Project Read,"City, Donations, Federal, Grants, State"
12,Redwood Shores Branch,City
13,Redwood City Corps,"Donations, Grants"
14,Adult Rehabilitation Center,"Donations, Sales"
15,Sunnyvale Corps,"Donations, Fees, Grants"
16,South San Francisco Citadel Corps,Donations
17,Project Smile,"Donations, Grants"
18,San Mateo Free Medical Clinic,"Donations, Grants"
19,Service with blank fields,NaN
20,Service for Admin Test Location,NaN
21,Passport Photos,"City, County, Federal, State"
22,Example Service Name,"City, County, Federal, State"

In [60]:
df5 = df4[['name','funding_sources']]
type(df5)

pandas.core.frame.DataFrame

In [63]:
 type(df4[['name']])

pandas.core.frame.DataFrame

In [66]:
pd.read_excel(r'C:\Users\lerin\Downloads\Data\LUSID Excel - Manage Orders.xlsx',sheet_name='Allocations')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = pd.read_excel(r'C:\Users\lerin\Downloads\Data\LUSID Excel - Manage Orders.xlsx')

In [67]:
df.keys()

Index(['House Age (years)', 'Distance to Station (meters)',
       'Price per Square Foot', 'Unnamed: 3', 'Sum'],
      dtype='object')

In [71]:
df = pd.ExcelFile(r'C:\Users\lerin\Downloads\Data\LUSID Excel - Manage Orders.xlsx')

In [72]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [75]:
for i in df.sheet_names:
    pd.read_excel(r'C:\Users\lerin\Downloads\Data\LUSID Excel - Manage Orders.xlsx',sheet_name=i )

In [78]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [79]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q